body {
  min-height: '100vh';
  box-sizing: 'border-box';
}
.app-container {
  background-color: #e5e5e5;
  min-height: 100vh; /* Ensures full height for the background */
  display: flex; /* Optional for centering */
  flex-direction: column; /* Optional for flex layouts */
}
.card {
  border-radius: 0;
  background-color: "#f9f9f9";
  text-align: "left";
}
.card-header {
  background-color: '#f7f7f7';
}
/* Override specific form-control properties */
textarea.form-control {
  padding-left: 10px;  /* Adjust padding */
  padding-top: 10px;    /* Adjust padding */
  background-color: transparent; /* Transparent background */
  border-radius: 0;   /* Remove border radius if needed */
  border: 1px solid #ccc;  /* Custom border */
}

textarea.form-control::placeholder {
  color: #aaa;
  font-style: italic;
}

.nav-link.active-link {
  /*color: #7064D2; */
  color: #263ece;
  border-bottom: 2px solid #263ece;
}

.not-found-container {
  text-align: center;
}

.not-found-title {
  font-size: 3rem;
}

.not-found-message {
  font-size: 1.5rem;
  color: #555;
}